*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Outfit', sans-serif;
}

main {
    display: flex;
    background-color: hsl(217, 54%, 11%);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

section#card {
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
    border-radius: 15px;
}

div#container {
    width: 340px;
}

div.equilibrium {
    display: block;
    width: 100%;
    height: 350px;
    background: url(images/image-equilibrium.jpg) no-repeat center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
    margin-top: 20px;
}

p {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    margin-top: 20px;
    font-weight: 300;
}

div#price-time {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    margin-top: 20px;
}

div.eth {
    display: flex;
    flex-direction: row;
    color: hsl(178, 100%, 50%);
    gap: 5px;
    width: 50%;
    align-items: center;
}

div.time {
    display: flex;
    flex-direction: row;
    left: auto;
    gap: 5px;
    align-items: center;
    color: hsl(215, 51%, 70%);

}

div.line {
    width: 100%;
    border-top: 1px solid hsl(215, 32%, 27%);
    margin: 20px 0 20px 0;
}

img.avatar {
    width: 32px;
    border: 1px solid white;
    border-radius: 300px;
}

div.creator {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: hsl(215, 51%, 70%);
    gap: 20px;
}

div.creator a {
    text-decoration: none;
    color: white;
}